body {

    img {
        width: 100vh;
        height: auto;
        display: inline;
    }

    #rrss {
        display: inline;
    }

    .logo_rrss {
        width: 5em;
        height: auto;
        padding: 1rem;
    }
}