main {
  img {
    padding: 1em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center ;
  }

  #rrss {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }

  .logo_rrss {
    width: 5em;
    height: auto;
    padding: 1rem;
  }

  .mapa {
    width: 90%;
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    // align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
